:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #2A2D32;
    background-color: #E9E5DF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin-bottom: 1em;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8em;
    line-height: 1.1;
}

h2, h3, button {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    border: 1px solid transparent;
    border-color: #2A2D32;
    background-color: #E9E5DF;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover {
    background-color: #CDD6D3;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Homepage Styling */
.logo {
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.cardLinks {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.acousticCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 25vh;
    background-image: url("./images/acoustic.png");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: #E9E5DF;
    margin: 1em;
}

.electricCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 25vh;
    background-color: black;
    background-image: url("./images/electric.png");
    background-position: center;
    background-size: 75% auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: #2A2D32;
    margin: 1em;
}

.bassCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 25vh;
    background-color: black;
    background-image: url("./images/bass.png");
    background-position: center;
    background-size: 75% auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: #E9E5DF;
    margin: 1em;
}
/* Header Styling */
.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 1em
}

.logoSmall {
    height: 5em;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 1em;
}


.navbar {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: inherit;
}


/*Guitar Catalog styling*/
.catalog {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 1.5em;
}

.guitar {
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    max-width: 25vw;
    min-height: 422px;
}

.guitar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.guitar:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Guitar info styling */
.info {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.infoImagePrice {
    text-align: center;
}

.infoImage {
    background-color: white;
    width: 40vw;
}

.infoImage img {
    height: 55vh;
    width: auto;
    padding: 1em;
}

.infoDescription {
    width: 45vw;
    height: 75vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 1em;
}

.infoDescription h1 {
    width: 100%;
    margin: 0;
}

.infoButtons {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    column-gap: 1.5em;
}

.infoButtons button {
    padding: 1.5em 2em;
    width: 10em;
}